.local-plugin-linker-path {
	width: 22em;
}

.local-plugin-linker-note {
	color: var(--text-muted);
	font-size: var(--font-ui-smaller);
}

.local-plugin-linker-code {
	font-family: var(--font-monospace);
	font-size: var(--font-ui-large);
	text-align: center;
	user-select: all;
}
